{% extends "search/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
		<h1 class='mt-5'>What's in your fridge?</h1>
		<form>
		  <div class="form-group">
		    <input type="text" class="form-control form-control-lg" id="inputPassword2" placeholder="Start Typing. Hit Enter after each ingredient.">
		  </div>
		  <!--		  <button type="submit" class="btn btn-primary btn-lg ">Search</button> -->
		</form>
        </div>
      </div>
    </div>
{% endblock %}
